.container {
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

input {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}

button {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.link {
  color: blue;
  cursor: pointer;
  margin-top: 10px;
}
